<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	<div class="shadow-box m-5">
		<div class="d-flex justify-content-center m-5">
			
			<!-- 키보드 Enter키로 로그인이 될 수 있도록 form 태그를 만들어준다.(submit 타입의 버튼이 동작됨) -->
			<form id="loginForm" action="/user/sign-in" method="post">
				
				<!-- ID 영역 -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">ID</span>
					</div>
					<input type="text" class="form-control" id="loginId" name="loginId">
				</div>
				
				<!-- 비밀번호 영역 -->
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">PW</span>
					</div>
					<input type="password" class="form-control" id="password" name="password">
				</div>
				
				<input type="submit" class="btn btn-block btn-info" value="로그인">
				<a class="btn btn-block btn-dark" href="/user/sign-up-view">회원가입</a>
			</form>
		</div>
	</div>
</section>


<!-- JS 영역 -->
<th:block layout:fragment="script">
	<script>
		$(document).ready(function() {
			// 로그인 서브밋
			$("#loginForm").on("submit", function(e) {
				e.preventDefault(); // submit 중단(페이지 이동 차단)
				// alert("로그인 서브밋");
				
				// validation(필수 parameter)
    			let loginId = $("#loginId").val().trim();
    			// alert(password);
    			let password = $("input[name=password]").val().trim();
    			// alert(password);
    			
    			
    			// 필수 parameter 공백 처리
    			if(!loginId) {
    				alert("아이디를 입력하세요.");
    				return false; // submit일 경우 false
    			}
    			if(!password) {
    				alert("비밀번호를 입력하세요.");
    				return false; // submit일 경우 false
    			}
    			
    			
    			// 전송 1) : form 전송 => 다음 화면으로 이동(form은 restcontroller 불가)
				/*
				$(this)[0].submit(); // 0번째 form을 전송
				*/
				
				// 전송 2) : AJAX 호출 => JSON 응답
				// form 태그를 활용한 AJAX 호출
				let url = $(this).attr("action"); // form 태그의 action 값을 추출
				// console.log(url);
				let params = $(this).serialize(); // form 태그의 name 속성과 value를 직렬화(입력값 불러오기) => request 파라미터로 구성, 직렬화 : 전송을 위한 정렬
				// console.log(params)
				
				
				// post 형식으로 JSON 구현
				// AJAX가 아닌 $.post 사용
				// $.ajax는 GET, POST 메서드 중 선택해 데이터를 요청 
				// $.post()메서드는 HTTP POST 요청만을 사용하여 서버에서 데이터를 요청
				$.post(url, params) // request 영역
				.done(function(data) { // response - callback 영역
					if(data.result == "성공") {
						// 로그인 성공 시 글 목록 화면으로 이동
						location.href = "/post/post-list-view";
					} else {
						alert(data.error_message);
					}
				});
				
				
			});
		});
	</script>
</th:block>