<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	
	<div class="contents-box">
	
		<!-- 글쓰기 영역(로그인 된 사람에게만 활성화) -->
		<div th:if="${session.userName != null}" class="write-box border rounded m-3"> <!-- border로 감싸기 -->
			<textarea id="writeTextArea" placeholder="내용을 입력해주세요" class="w-100 border-0"></textarea>
				
				
				<!-- 이미지 아이콘 영역 -->
				<div class="d-flex justify-content-between ">
					<div class="file-upload d-flex align-items-center">
						<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. ※ 강사님 github 참고 -->
						<input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
					
						<!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 ※ 강사님 github 참고 -->
						<a href="#" id="fileUploadBtn">
							<img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png">
						</a>
						<div id="fileName" class="ml-2">파일명</div>
					</div>
					<!-- 업로드 버튼 영역 -->
					<button id="writeBtn" class="btn btn-info">업로드</button>
				</div>
			</div>

			
			<!-- 타임라인 : orderby를 사용해 최신 글을 우선 -->
			<div class="timeline-box my-5">
				
				<!-- 타임라인 내용(userId, imagePath, content) 영역 -->
				<div th:each="card : ${cardList}" class="card border rounded mt-3">
					
					<!-- 내용 시작 - 글쓴이, 더보기 영역 -->
					<div class="p-2 d-flex justify-content-between bg-secondary">
						<!-- 글쓴이 => th문법으로 userId로 대체 -->
						<span class="font-weight-bold" th:text="${card.userEntity.loginId}">글쓴이</span>
						
						<!-- 더보기(누르면 `삭제`, `취소`) -->
						<a th:if="${session.userId == card.postEntity.userId}" href="#" class="more-btn" data-toggle="modal" data-target="#modal" th:data-post-id="${card.postEntity.id}">
						<!-- cardDTO의 postEntity, userEntity에 글 번호가 저장 -->
							<img src="img/timeline/more-icon.png" width="30">
						</a>
					</div>
					
					<!-- imagePath 영역 -->
					<div class="card-img">
						<img th:src="${card.postEntity.imagePath}" class="w-100" alt="본문 이미지">
					</div>
						
					<!-- 좋아요 -->
					<div class="card-like m-3">
						<a th:if="${card.filledLike == false}" href="#" class="like-btn"  th:data-post-id="${card.postEntity.id}">
							<img src="img/timeline/heart-icon.png" width="20" height="18" alt="empty heart">
						</a>
						<a th:unless="${card.filledLike == false}" href="#" class="like-btn"  th:data-post-id="${card.postEntity.id}">
							<img src="img/timeline/heart-icon (1).png" width="20" height="18" alt="empty heart">
						</a>
						<span th:text="|좋아요 ${card.likeCount}개|">좋아요 n개</span>
					</div>
					
					<!-- userId, content 영역 -->
					<div class="card-post m-3">
						<span class="font-weight-bold" th:text="${card.postEntity.userId}">userId</span>
						<span th:text="${card.postEntity.content}">content</span>
					</div>
					
					
					<!-- 내용, 댓글 경계 -->
					<div class="card-comment-title border-bottom bg-secondary">
						<div class="font-weight-bold ml-3 mb-1">댓글</div>
					</div>
					
					<!-- 댓글 시작(userId, imagePath, content) -->
					<div class="card-comment-list m-2">
						<div class="card-comment m-1" th:each="commentDTO : ${card.commentList}"> <!-- cardDTO의 commentList 메서드 추출 -->
							<!-- userId, content 영역 -->
							<span class="font-weight-bold" th:text="${commentDTO.user.loginId}">userId</span>
							<span th:text="${commentDTO.comment.content}">content</span>
							
							<!-- 댓글 삭제 -->
							<!-- UserRestController의 session -->
							<a th:if="${session.userId == commentDTO.comment.userId}" href="#" class="comment-del-btn" th:data-comment-id="${commentDTO.comment.id}">
								<img src="img/timeline/x-icon.png" width="10" height="10">
							</a>
						</div>
						

						<!-- 댓글 작성 영역 -->
						<div class="comment-write d-flex border-top mt-2">
							<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 내용을 입력해주세요">
							<button type="button" class="comment-btn btn btn-light text-primary w-25" th:data-post-id="${card.postEntity.id}">게시</button>
						</div>						
						
					</div>
					
					
				</div>
				
			</div>
			
			<!-- Button trigger modal -->
			<!-- Modal : 타임리프 레이아웃 때문에 section(fragment) 태그 안쪽에 위치 -->
			<div class="modal fade" id="modal">
			<!-- modal-sm : 작은 모달 창 
			modal-dialog-centered : 수직 기준 가운데 -->
			  <div class="modal-dialog modal-sm modal-dialog-centered">
			    <div class="modal-content text-center">
			    	<div class="py-3">
			    		<a href="#" id="postDelBtn">삭제하기</a>
			    	</div>
			    	<div class="py-3 border-top">
			    		<a href="#" data-dismiss="modal">취소</a>
			    	</div>
			    
			      </div>
			    </div>
			  </div>
			  
		</div>
		
</section>

<th:block layout:fragment="script">
    <script>
    	
    	$(document).ready(function() {
    		// 이미지 a태그 클릭 => 숨겨져 있는 id="file" 동작
    		$("#fileUploadBtn").on("click", function(e) {
    			e.preventDefault(); // 위로 올라가는 현상 방지
    			// alert("이미지 클릭");
    			
    			
    			$("#file").click(); // 클릭 함수 활성화
    			
    		}); // 이미지 a태그 클릭 종료
    		
    		
    		// 파일이 선택될 때		1) 유효성 체크		2) 파일명 노출
    		$("#file").on("change", function(e) {
    			
    			// `취소` 누를 때 처리(파일이 비워지므로 name을 뽑다가 에러 발생)
    			if(e.target.files[0] == null) {
    				$("#file").val(""); // 잘못 선택한 파일이 있으면 선택된 파일 초기화
    				$("#fileName").text("파일명"); // 잘못 선택한 파일이 있으면 파일이름 초기화
    				return;
    			}
    			
    			// alert("파일선택");
    			let fileName = e.target.files[0].name; // 0번째 파일명 추출
    			// console.log(fileName);
    			
    			// 1) 유효성 체크
    			let ext = fileName.split(".").pop().toLowerCase();
    			// console.log(ext);
    			
    			// 업로드 가능한 파일 형식 제한
    			if(ext != "gif" && ext != "jpg" && ext != "png") {
    				alert("이미지 파일만 업로드 할 수 있습니다.");
    				$("#file").val(""); // 잘못 선택한 파일이 있으면 선택된 파일 초기화
    				$("#fileName").text("파일명"); // 잘못 선택한 파일이 있으면 파일이름 초기화
    				return;
    			}
    			
    			// 2) 파일명 노출
    			$("#fileName").text(fileName);
    			
    			
    		}); // 파일이 선택될 때	종료
    		
    		
			// 업로드 버튼 클릭
    		$("#writeBtn").on("click", function(e) {
    			// alert("업로드 버튼");

    			
    			// 비필수 파라미터
    			let content = $("#writeTextArea").val().trim();
    			
    			// validation(필수 파라미터)
    			let file = $("#file").val();
    			// console.log(file); // C:\fakepath\[브랜드평판]IT서비스.jpg
    			// return; // 넘어가는 것 방지
    			
    			// validation(필수 파라미터)이 공백일 경우
    			if(!file) {
    				alert("파일을 업로드 해주세요");
    				return;// subject일 경우 return flase, click일 경우 return
    			}
    			
    			
    			// 파일명이 있으면 확장자 체크(한 번더 체크)
    			// C:\fakepath\[브랜드평판]IT서비스.jpg
    			
    			// 확장자 추출
   				let extension = file.split(".").pop().toLowerCase();
   				// console.log(extension);
   				
   				// 이미지 형식이 아닌 파일 선택 시 alert 띄운 후 파일 drop
   				if($.inArray(extension, ["jpg", "png", "gif", "jpeg"]) == -1) {
   					alert("이미지 파일만 업로드 할 수 있습니다.");
   					$("#file").val(""); // 파일 초기화
   					return;
   				}
    			
    			
    			// 이미지 저장(이미지는 form 태그 필수 => JS에서 구현 가능)
    			// form을 JS에서 생성 후 AJAX에서 구현 가능
    			// form 태그 3종 세트 : form 태그(method), name 속성(parameter), submit 타입(parameter 전송)
    			let formData = new FormData();
    			formData.append("content", content); // requestParameter 이름 + form 태그의 name
    			formData.append("file", $("#file")[0].files[0]); // 다중 파일의 경우 배열을 생성해서 저장된 길이만큼 진행
    			

       			// AJAX 요청
    			$.ajax({
    				// request
    				type:"POST", // 용량이 큰 img 파일
    				url:"/post/create",
    				data:formData, // json, key-value, formData
    				processData:false, // 파일 업로드 필수 설정(form)
    				contentType:false, // 파일 업로드 필수 설정(form)
    				enctype:"multipart/form-data", // 파일 업로드 필수 설정(form) - 이미지 인코딩
    				
    				// response
    				success:function(data) {
    					// 성공일 때 alert 후 목록 화면으로 이동
    					if (data.code == 200) { // Dictionary 형태
    						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    						// => Dictionary 형식으로 변경
    						// {code:200, }
    						alert("게시글이 저장되었습니다.");
    						location.reload();
    					} else if(data.code == 403) { // 비로그인 일 경우
    						location.href = "/user/sign-in-view";
    					}
    					else {
    						alert(data.error_message);
    					}
    				}, // 성공일 경우
    				error:function(e) {
    					alert("글을 저장하는데 실패했습니다.");
    				}
    				
    			}); // AJAX 요청 종료
    			
    			
    		}); // 업로드 버튼 클릭 종료
    		
    		
    		// `게시` 버튼을 클릭(댓글 쓰기)
    		/* 반복되는 마크업(카드)이 있을 경우 id가 아닌 class 사용 */
    		$(".comment-btn").on("click", function(e) {
    			// alert("게시 버튼");
    			 e.preventDefault();
    			
    			// validation
    			// 버튼 별로 고유의 id 추출
    			let postId = $(this).data("post-id"); // 지금 클릭한 게시 버튼의 아이디 추출
    			// alert(postID);

    			// 게시 버튼을 클릭했을 때 내용 추출
    			// 1)
    			// let content = $(this).prev().val().trim(); // 선택한 요소의 이전 요소를 선택
    			
    			// 2)
    			let content = $(this).siblings("input").val().trim(); // 형제가 여러 개일 경우(태그, 클레스, 아이디로 구분)
    			// alert(content);
    			
    			
    			// AJAX 요청
    			$.ajax({
    				// request
    				type:"POST", // 용량이 큰 img 파일
    				url:"/comment/create",
    				data:{"postId":postId, "content":content}, // json, key-value, formData 가능
    				
    				// response
    				success:function(data) {
    					// 성공일 때 alert 후 목록 화면으로 이동
    					if (data.code == 200) { // Dictionary 형태
    						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    						// => Dictionary 형식으로 변경
    						// {code:200, "result":"성공"}
    						alert("댓글이 저장되었습니다.");
    						location.reload();
    					} else if(data.code == 403) { // 비로그인 일 경우(로그인 화면으로)
    						location.href = "/user/sign-in-view";
    					}
    					else {
    						alert(data.error_message);
    					}
    				}, // 성공일 경우
    				error:function(e) {
    					alert("댓글을 저장하는데 실패했습니다.");
    				}
    				
    			}); // AJAX 요청 종료
    			
    			
    		}); // `게시` 버튼을 클릭(댓글 쓰기) 종료
    		
    		
    		// 댓글 삭제
    		$(".comment-del-btn").on("click", function(e) {
    			e.preventDefault(); // a 태그 상단 올라가는 현상 방지
    			// alert("댓글 삭제");
    			
    			// validation
    			let commentId = $(this).data("comment-id");
    			// alert(commentId);
    			
    			$.ajax({
    				// request
    				type:"DELETE",
    				url:"/comment/delete",
    				data:{"commentId":commentId}, 
    				
    				// response
    				success:function(data) {
						if (data.code == 200) {
							location.reload(true);
						} else {
							alert(data.error_message);
						}
					},
					error:function(request, status, error) {
						alert("댓글 삭제 하는데 실패했습니다.");
					}
    			});
    			
    		}); // 댓글 삭제 종료
    		
    		
    		// 좋아요 버튼 클릭
    		$(".like-btn").on("click", function(e) {
    			e.preventDefault(); // 화면 상단 이동 현상 방지
    			// alert("좋아요");
    			
    			
    			// validation
    			let postId = $(this).data("post-id");
    			// alert(postId);
    			
    			// AJAX 요청
    			$.ajax({
    				// request
    				type:"GET", // type 제외 시 자동으로 GET
    				url:"/like/" + postId,
    				// 입력 값 : 없음
    				
    				// response
    				success:function(data) {
    					// 성공일 때 alert 후 목록 화면으로 이동
    					if (data.result == "성공") { // Dictionary 형태
    						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    						// => Dictionary 형식으로 변경
    						// {code:200, result:"성공"}
    						// 새로고침 => 카드를 가져올 때 하트를 가져올지 말지 결정
    						location.reload();
    					} else if(data.code == 403) { // 비로그인 일 경우
    						alert(data.error_message)
    						location.href = "/user/sign-in-view";
    					}
    				}, // 성공일 경우
    				error:function(e) {
    					alert("좋아요 클릭에 실패했습니다.");
    				}
    			
    		}); // 좋아요 버튼 클릭 종룍
    		
    		
    	});
    		
    		
   		// 더보기 ... 클릭
   		//1) 모달 뜸
   		//2) postId를 modal에 끼워 넣기
   		$(".more-btn").on("click", function() {
   			let postId = $(this).data("post-id");
   			// alert(postId);
   			
   			
   			// 1개만 존재하는 modal을 재활용하기 위해
   			// modal에 data-post-id를 심어 놓는다
   			$("#modal").data("post-id", postId);// set
   			// alert(postId);
   			
   			
   			// modal 안에 있는 삭제 클릭 => 모달 안에는 삭제할 글 번호가 존재
   			$("#postDelBtn").on("click", function(e) {
   				e.preventDefault();
   				// alert("삭제");
   				
   				let postId = $("#modal").data("post-id"); // get
   				// alert(postId);
   			
	   			// AJAX 요청
	   			// RestController 생성 전까지는 404
	   			$.ajax({
	   				// request
	   				type:"DELETE", // type 제외 시 자동으로 GET
	   				url:"/post/delete",
	   				data:{"postId":postId},
	   				
	   				// response
	   				success:function(data) {// Dictionary 형태
							// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
							// => Dictionary 형식으로 변경
							// {code:200, "result":"성공"}
	    					if(data.code == 200) {
	    						alert("글이 삭제되었습니다.");
	    						location.reload(true);
	    					} else {
								alert(data.error_message);
							}
	    				},
	    				error:function(e) {
	    					alert("게시글을 삭제하는데 실패했습니다.");
	    				}
	   			}); // AJAX 요청 종료
   			
   			});
   			
   		});// 더보기 ... 클릭 종료
    		
    		
    });
    </script>
</th:block>