<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
      
<section layout:fragment="content" class="contents d-flex justify-content-center">
	
	<div class="contents-box">
	
		<!-- 글쓰기 영역 -->
		<div class="write-box border rounded m-3"> <!-- border로 감싸기 -->
			
			<!-- 로그인이 되어 있을 경우 -->
			<div th:if="${session.userName != null}">
				<textarea id="writeTextArea" 
				placeholder="내용을 입력해주세요" 
				class="w-100 border-0"></textarea>
				
				<!-- 이미지 아이콘 영역 -->
				<div class="d-flex justify-content-between ">
					<div class="file-upload d-flex align-items-center">
						<!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. ※ 강사님 github 참고 -->
						<input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">
					
						<!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 ※ 강사님 github 참고 -->
						<a href="#" id="fileUploadBtn"><img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png">
						</a>
						<div id="fileName" class="ml-2">파일명</div>
					</div>
					<!-- 업로드 버튼 영역 -->
					<button id="writeBtn" class="btn btn-info">업로드</button>
				</div>
			</div>

			<!-- 로그인이 되어 있지 않을 경우 -->
			<div th:unless="${session.userName != null}">
				
			</div>
			
			<!-- 타임라인 : orderby를 사용해 최신 글을 우선 -->
			<div class="timeline-box my-5">
				
				<!-- 타임라인 내용(userId, imagePath, content) 영역 -->
				<div th:each="post : ${postList}" class="card border rounded mt-3">
					
					<!-- 내용 시작 - 글쓴이, 더보기 영역 -->
					<div class="p-2 d-flex justify-content-between bg-secondary">
						<!-- 글쓴이 => th문법으로 userId로 대체 -->
						<span class="font-weight-bold" th:text="${post.userId}">글쓴이</span>
						
						<!-- 더보기(누르면 `삭제`, `취소`) -->
						<a href="#" class="more-btn">
							<img src="img/timeline/more-icon.png" width="30">
						</a>
					</div>
					
					<!-- imagePath 영역 -->
					<div class="card-img">
						<img th:src="${post.imagePath}" class="w-100" alt="본문 이미지">
					</div>
						
					<!-- 좋아요 -->
					<div class="card-like m-3">
						<a href="#" class="like-btn">
							<img src="img/timeline/heart-icon.png" width="20" height="18" alt="empty heart">
						</a>
						<span>좋아요 n개</span>
					</div>
					
					<!-- userId, content 영역 -->
					<div class="card-post m-3">
						<span class="font-weight-bold" th:text="${post.userId}">userId</span>
						<span th:text="${post.content}">content</span>
					</div>
					
					
					<!-- 내용, 댓글 경계 -->
					<div class="card-comment-title border-bottom bg-secondary">
						<div class="font-weight-bold ml-3 mb-1">댓글</div>
					</div>
					
					<!-- 댓글 시작(userId, imagePath, content) -->
					<div class="card-comment-list m-2">
						<div class="card-comment m-1">
							<!-- userId, content 영역 -->
							<span class="font-weight-bold">userId</span>
							<span>content</span>
							
							<!-- 로그인이 되어 있을 경우 -->
							<div th:if="${session.userName != null}">
								<!-- 댓글 삭제 -->
								<a href="#" class="comment-del-btn">
									<img src="img/timeline/x-icon.png" width="10" height="10">
								</a>
							</div>
						</div>
						

						<!-- 로그인이 되어 있을 경우 -->
						<div th:if="${session.userName != null}">
							<!-- 댓글 작성 영역 -->
							<div class="comment-write d-flex border-top mt-2">
								<input type="text" class="comment-input form-control border-0 mr-2" placeholder="댓글 내용을 입력해주세요">
								<button type="button" class="comment-btn btn btn-light text-primary w-25">게시</button>
							</div>
						</div>						
						
					</div>
					
					
				</div>
				
			</div>
			
		</div>
		
	</div>
</section>

<th:block layout:fragment="script">
    <script>
    	
    	$(document).ready(function() {
    		// 이미지 a태그 클릭 => 숨겨져 있는 id="file" 동작
    		$("#fileUploadBtn").on("click", function(e) {
    			e.preventDefault(); // 위로 올라가는 현상 방지
    			// alert("이미지 클릭");
    			
    			
    			$("#file").click(); // 클릭 함수 활성화
    			
    		}); // 이미지 a태그 클릭 종료
    		
    		
    		// 파일이 선택될 때		1) 유효성 체크		2) 파일명 노출
    		$("#file").on("change", function(e) {
    			
    			// `취소` 누를 때 처리(파일이 비워지므로 name을 뽑다가 에러 발생)
    			if(e.target.files[0] == null) {
    				$("#file").val(""); // 잘못 선택한 파일이 있으면 선택된 파일 초기화
    				$("#fileName").text("파일명"); // 잘못 선택한 파일이 있으면 파일이름 초기화
    				return;
    			}
    			
    			// alert("파일선택");
    			let fileName = e.target.files[0].name; // 0번째 파일명 추출
    			// console.log(fileName);
    			
    			// 1) 유효성 체크
    			let ext = fileName.split(".").pop().toLowerCase();
    			// console.log(ext);
    			
    			// 업로드 가능한 파일 형식 제한
    			if(ext != "gif" && ext != "jpg" && ext != "png") {
    				alert("이미지 파일만 업로드 할 수 있습니다.");
    				$("#file").val(""); // 잘못 선택한 파일이 있으면 선택된 파일 초기화
    				$("#fileName").text("파일명"); // 잘못 선택한 파일이 있으면 파일이름 초기화
    				return;
    			}
    			
    			// 2) 파일명 노출
    			$("#fileName").text(fileName);
    			
    			
    		}); // 파일이 선택될 때	종료
    		
    		
			// 업로드 버튼 클릭
    		$("#writeBtn").on("click", function(e) {
    			// alert("업로드 버튼");
    			
    			// validation(필수 파라미터)
    			let writeTextArea = $("#writeTextArea").val().trim();
    			let fileName = $("#file").val();
    			// console.log(fileName); // C:\fakepath\[브랜드평판]IT서비스.jpg
    			// return; // 넘어가는 것 방지
    			
    			// validation이 공백일 경우
    			if(!writeTextArea) {
    				alert("내용을 입력하세요");
    				return;// subject일 경우 return flase, click일 경우 return
    			}
    			
    			
    			// 파일 확장자 체크는 넘어감(위에서 유효성 체크 했음)
    			
    			
    			// 이미지 저장(이미지는 form 태그 필수 => JS에서 구현 가능)
    			// form을 JS에서 생성 후 AJAX에서 구현 가능
    			// form 태그 3종 세트 : form 태그(method), name 속성(parameter), submit 타입(parameter 전송)
    			let formData = new FormData();
    			formData.append("writeTextArea", writeTextArea); // requestParameter 이름 + form 태그의 name
    			formData.append("file", $("#file")[0].files[0]); // 다중 파일의 경우 배열을 생성해서 저장된 길이만큼 진행
    			

       			// AJAX 요청
    			$.ajax({
    				// request
    				type:"POST", // 용량이 큰 img 파일
    				url:"/post/create",
    				data:formData, // json, key-value, formData
    				processData:false, // 파일 업로드 필수 설정(form)
    				contentType:false, // 파일 업로드 필수 설정(form)
    				enctype:"multipart/form-data", // 파일 업로드 필수 설정(form) - 이미지 인코딩
    				
    				// response
    				success:function(data) {
    					// 성공일 때 alert 후 목록 화면으로 이동
    					if (data.code == 200) { // Dictionary 형태
    						// Ajax의 응답은 String => JQuery의 함수가 JSON임을 알면
    						// => Dictionary 형식으로 변경
    						// {code:200, }
    						alert("게시글이 저장되었습니다.");
    						location.href = "/timeline";
    					} else {
    						alert(data.error_message);
    					}
    				}, // 성공일 경우
    				error:function(e) {
    					alert("글을 저장하는데 실패했습니다.");
    				}
    				
    			}); // AJAX 요청 종료
    			
    			
    		}); // 업로드 버튼 클릭 종료
    		
    		
    	});
    
    </script>
</th:block>